@media all {
body{
    background-color: burlywood;
    text-align: center;
}
    #navbar{
      position: absolute; left:0px;top:0px;
      background-color: aquamarine;
    } 
    header{
        font-size: 2rem;
    }
    code{
        font-size: 1.35rem;
    }
    

        
}
